/* Stylesheet for FrontEnd Portfolio*/
body {
  background-color: #3C7A89;
  color: #F2F2F2;
  margin-top: 0;
  text-align: center;
  height: 100%;
  font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'existencelight';
    src: url('Existence-Light-webfont.eot');
    src: url('Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Existence-Light-webfont.woff') format('woff'),
         url('Existence-Light-webfont.ttf') format('truetype'),
         url('Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

h1{
  font-family: existencelight, Arial, sans-serif;
  font-size: 200%;
}


.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #16262E;
  margin: 0;
  padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
  display: block;
  color: #F2F2F2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #3C7A89;
}

.navbar a.active {
    color: #3C7A89;
}

h1 {
  text-align: center;
}

.about p {
  padding: 0px 300px 0px 300px;
}
/* style for profile picture */
.selfie {
  border-radius: 50%;
  display: inline;
  margin-top: 20px;
  width: 200px;
  height: auto;

}
/* style for front page picture */
.frontpage{
  width: 100%;
  height: auto;

}

/*Portfolio Image style*/
div.portgallery {
  display: inline-block;
  margin: auto;
  width: 80%;


}

div.portfolioimgs {
  width: 33%;
  float: left;
  box-sizing: border-box;
  position: relative;
}

div.portfolioimgs img {
  max-width: 95%;
  height: auto;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

div.portfolioimgs:hover .overlay {
  height: 30%;
}

.overtext {
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*
div.portfolioimgs.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #white;
}

div.portfolioimgs:hover .overlay {
  opacity: 0.3;
}

div.portfolioimgs.desc {
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
*/
.footer p {
  overflow: auto;
}
